
.cs-footer {
    background: $orange;
    padding-top: 60px;
    color: #fff;
    .footer-logo {
        margin-bottom: 18px;
    }
    .social-links {
        margin-top: 60px;
        li {
            font-size: 1.7em;
            a {
                color: #fff;
            }
        }
    }
    .footer-links {
        li:first-child {
            font-size: 1.2em;
            margin-bottom: 20px;
        }
        li {
            margin-bottom: 5px;
            a {
                color: #fff;
            }
        }
    }
}
