.index-page {

    .main-screenshot {
        margin-top: 40px;
        margin-bottom: 40px;
        background: transparent;
        img {
            margin-bottom: 20px;
        }
        a {
            margin-top: 18px;
        }
    }

    .thumbnail {
        border: 0;
        .caption {
            width: 88%;
            margin: 0 auto;
            h3 {
                font-size: 1.4em;
                font-weight: 500;
            }
        }
    }
    .feature-row {
        margin: 40px 0;
    }

    .team-widget {
        padding: 120px 0;
        .btn {
            margin-top: 20px;
        }
    }
}
.main-screenshot {
    h1 {
        font-size: 2.8em;
        span {
            margin-top: 10px;
            display: block;
            font-size: .6em;
        }
    }
}
