.register-page {
    .register-panel {
        margin-top: 80px;
        padding: 60px 40px;
        border: 1px solid $orange;
        .signup-form {
            margin-top: 30px;
            label {
                font-weight: 400;
            }
        }
    }
}
