html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Arimo', sans-serif;
    background: #fff;
    /* Margin bottom by footer height */
    margin-bottom: 480px;
}

a {
  color: $orange;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 360px;
}

.navbar-default {
    padding-top: 30px;
    border: 0;
    border-top: 10px $orange solid;
    background-color: transparent;
}

.main-logo {
    font-weight: 500;
    font-size: 1.7em;
    color: $dark;
}


.trial-widget {
  border: 1px solid $orange;
  .trial-widget-content {
    padding: 80px 60px;
    .media-body {
      padding-left: 20px;
      a {
        margin-top: 24px;
      }
    }
  }
}
