.btn  {
    padding: .8em 1.6em;
}

.btn-default {
    color: #fff;
    background: $orange;
    border-color: transparent;
}

.btn-default:hover {
    background: darken($orange, 10%);
    color: #fff;
    border-color: transparent;
}

.btn-dark {
    color: #fff;
    background: $dark;
    border-color: transparent;
}

.btn-dark:hover {
    background: darken($dark, 10%);
    color: #fff;
    border-color: transparent;
}
