<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Frontend Starter Kit</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbower -->

  <!-- CSS File -->
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>

  {% block body %}
  {% endblock body %}

  {% include "partials/footer.html" %}

  <!-- Javascript Files -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <!-- endbower -->
  <script src="static/js/main.js"></script>
</body>
</html>
